﻿@{
    ViewBag.Title = "Rates";
}
<h2>@ViewBag.Title</h2>
@section scripts{
    <script src="~/src/rate-component/rate-config.js"></script>
}

<div ng-app="RateApp">
    <rate-component></rate-component>   
</div>