﻿<div>
    <div class="col-xs-3 give-input pair-input" id="FromDirection">
        <input class="form-control input-sm" ng-model="soursePaymentSystem.Name">
        <i class="fa fa-search search-icon" aria-hidden="true"></i>
        <div class="pair-selector give hide-bottom">
            <ul id="left-panel" class="list-group">
                <li class="h4 nav">Payment Systems</li>
                <li href="#" id="left_{{soursePaymentSystem.Id}}"
                    class="list-group-item"
                    ng-repeat="soursePaymentSystem in paymentsSystems"
                    ng-click="setSourcePaymentSystem(soursePaymentSystem)">
                    <span>{{soursePaymentSystem.Name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-3 get-input pair-input" id="ToDirection">
        <input class="form-control input-sm" ng-model="targetPaymentSystem.Name">
        <div class="pair-selector get hide-bottom">
            <ul id="right-panel" class="list-group">
                <li class="h4 nav">Payment Systems</li>
                <li href="#" id="right_{{targetPaymentSystem.Id}}"
                    class="list-group-item"
                    ng-repeat="targetPaymentSystem in paymentsSystems"
                    ng-click="setTargetPaymentSystem(targetPaymentSystem)">
                    <span>{{targetPaymentSystem.Name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class=" col-xs-3">
        <div class="h3" style="margin-top: 0;">Exchangers</div>
        <table class="table">
            <thead id="right-panel" class="currency-list">
                <tr>
                    <th class="h4 col-lg-4" scope="col">Exchanger</th>
                    <th class="h4 col-lg-3" scope="col">GetRate</th>
                    <th class="h4 col-lg-3" scope="col">GiveRate</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="exchanger in exchangers">
                    <th class="col-lg-4">{{exchanger.ExchangerName}}</th>
                    <th class="col-lg-3">{{exchanger.GetRate}}</th>
                    <th class="col-lg-3">{{exchanger.GiveRate}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>